*{
    margin: 0px;
    padding: 0px;  
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/*General*/
ul {
    list-style: none;
} 
body {
    text-align: center;
}

/*Cabecera*/
header {
    background-image: url(imagesLum/fondo8.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
.cabecera {
    height: 37rem;
    /*color: #FFC300;*/
    color: white;
}
.cabecera > h1 {
    display: inline-block;
    margin-top: 12rem;
    width: 100%;
    font-size: 7rem;
    /*color: white;*/
    background-color: rgb(255, 255, 255, 0.2);
}
/*nav::after {
    content: "";
    position: relative;
    display: block;
    /*background-image: url(/Lumbrera/borde.png);
    background-color: white;
    width: 100%;
    height: 2px;
}*/


/*Nav*/
nav {
    position: sticky;
    top: 0;
    background-color: transparent;
    text-align: right;
}
.menu > li {
    display: inline-block;
    color: white;
    font-size: 20px;
    /*color: #408CFF;*/
    padding: 1rem 2rem;
    /*background-color: rgb(0, 0, 0, 0.3);*/
}
.menu > li > a {
    color: white;
}    
